body {
    background-image: url("http://static1.squarespace.com/static/5b6799645b409b9876b2a389/5b75562470a6adf7038326c0/5c92540d71c10b94b5801eab/1553098426344/MARTA_-_N3_Station.jpg");
    background-size: cover;
}

.jumbotron {
    color: white;
    font-weight: bold;
    background-color: #FF7500;
    
}

.content  {
    border-style: solid;
    border-color: #0092D0;
    border-width: 2px;
    padding: 15px;
}

.card-header {
    color: white;
    font-weight: bold;
    background-color: #0092D0;
}
